<div class="container ">
    <div class="text-danger mb-3 text-center" *ngIf="flag" style="font-size:1.8rem;">Please Fill all fields</div>
    <form class="m-auto p-5">
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-0 col-form-label col-form-label-lg m-auto">ID</label>
        <input type="number" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter ID"
        [(ngModel)]="newCS._id" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-0 col-form-label col-form-label-lg m-auto">Name</label>
          <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter Name"
          [(ngModel)]="newCS.Name" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-offset-2 col-sm-8 text-center row m-auto">
        <button type="submit" class="btn btn-success col" (click)="addSubmit()" routerLinkActive="router-link-active" >Submit</button>
      </div>
    </form>
  </div>
  