<nav class="navbar sticky-top navbar-expand-md bg-dark shadow">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home/students"  routerLinkActive="active">Students</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home/deparments" routerLinkActive="active">Departments</a>
          </li>
          <li class="nav-item"routerLinkActive="active">
            <a class="nav-link"  routerLink="/home/courses">Courses</a>
          </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet> 

 